.calendar,
.form{
    background-color: #f6efdf;
    background-image: url('../img/bg-2.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: 50% 50%;
}
.calendar__title,
label{
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}
input{
    background-color: #eee0c5;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: .2em auto .7em;
    font-size: .5em;
    text-align: center;
}
.btn-agendar{
    background-color: #a72b29;
    color: #fff;
    font-weight: 700;
    font-family: 'Bebas', sans-serif;
}
.btn-agendar:hover,
.btn-agendar:active{
    background-color: #d22c29;
}
.form__text{
    font-size: .7em;
    max-width: 37ch;
}

/* dropdown selector */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: relative;
  background-color: none;
  padding: 8px 0px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: black;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  margin: 20px auto;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: rgba(0,0,0,0.2);
}
.select-styled:active, .select-styled.active {
  background-color: none;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent black transparent;
}

.select-options {
    position: relative;
    width: 70%;
    top: -20px;
  display: none;
  z-index: 999;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #f6efdf;
  border-radius: 5px;
  -webkit-box-shadow: -1px 5px 15px 5px rgba(0,0,0,0.26); 
box-shadow: -1px 5px 15px 5px rgba(0,0,0,0.26);
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid rgba(0,0,0,0.2);
  color: black;
  text-align: center;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #fff;
  background: #a72b29;
}
.select-options li[rel="hide"] {
  display: none;
}

/* texto aceptar condiciones*/

.click__me{
    margin-top: 0;
    color: #a72b29;
    text-decoration: underline;
    background-color: none;
}

.xdsoft_datetimepicker{
background-color: none !important;
border: none !important;
}
/* media */

  @media(min-width: 420px){
    .calendar,
    .form{
      background-image: url('../img/bg-2-h.png');
      background-size: 85%;
    }
  }