
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-image: linear-gradient( 
    155deg
     , rgb(239 229 213) 11.2%, rgb(199 187 163) 100.2% );
    }


header {
  background-image: linear-gradient( 
    109.5deg
    , rgb(134 33 32) 11.2%, rgb(167 43 43) 100.2% );
}

h1, h2 {
    font-size: 9vw;
}
h3 {
    font-size: 7vw;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 2rem;
}
section {
 height: 80vh;   
}

.datosPersonales input {
  padding: 0 !important;
  color: #222 !important;
}

label {
  font-family: 'Bebas Neue', sans-serif;
}


article div {
    display: grid;
    justify-items: center;
    color: #222;
    transition: 0.3s;
    margin-top: 0;


}
article div:hover {

    color: #a82c29;
    

}
.icon {
    transform: rotate(355deg);
}
.fileChoice {
    background: #efe0c3;
    margin: 3rem auto;
    width: 80%;
    min-height: 5.5rem;
    place-items: center;
}
.fileChoice label {
  line-height: 1px;
}

#fotoCamara, #fotoAdjunta {
  width: 59px;
  height: 57px;
}

.btn-agendar, .btn-atras{
  background: #a82c29;
  color: #fff;
  cursor: pointer;
  font-family: 'Bebas Neue';
  font-size: 2.5vh;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.btn-agendar:hover,
.btn-agendar:active{
  background: #7c1e1d;
}

.btn-agendar:disabled{
  background-color:#222;
  cursor: not-allowed;
}

.btn-atras{
  background: #D59549;
  margin-bottom: 1rem;
}
.btn-atras:hover {
  background: #b67f3d;


  
}
.btn-atras::before {
  content: 'hola';
   font-family: "arial";
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
}

/*Redes Sociales*/
.social_share {
  padding:0.5rem 1rem;
  border-radius:7px;
  font-size: small;
  color: #fff;
  font-weight: 100;
  opacity: 1;
  transition: 0.3s;
}
.social_share:hover {
  opacity:0.8;
}
.twitter {
  background: #1DA1F2;
}
.facebook {
  background: #1877F2;
}
.whatsapp {
  background: #25D366;
}
/*///////////////////*/

.calendar,
.form{
    background-color: #f6efdf;
    background-image: url('../img/bg-2.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: 50% 50%;
}


select {
  width: 100%;
}


/* texto aceptar condiciones*/

.click__me{
    margin-top: 0;
    color: #a72b29;
    text-decoration: underline;
    background-color: none;
}

.xdsoft_datetimepicker{
background-color: none !important;
border: none !important;
}
/* media */


/*form styles*/
#msform {
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: rgb(239 229 213) 11.2%  url("../img/texturita.png" ) repeat;
	border: 0 none;
	border-radius: 8px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
  display: grid;
	margin: 0 10%;
  width: 80%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #D59549;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #D59549;
}
/*headings*/

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ffffff;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #D59549;
	color: white;
}

@media (min-width: 768px) { 

  h3 {

    line-height: 6rem;
      }   

      .social_share {
        margin: 0 10px;

    }

 }

 @media (min-width: 1536px) {
  h3 {

    line-height: 8rem;
      }   

  }


  .custom-select select{
    
  }